@import "../../wwwroot/imports/colors";
.auth {
    display:flex;
    justify-content:center;
    align-items:center;
    height: calc(100vh - 110px);
    .auth__wrapper {
        display: flex;
        flex-direction: column;
        align-items:center;
        gap:10px;
        background-color: white;
        width:fit-content;
        width:80%;
        border-radius:20px;
        .auth__navigation {
            display:flex;
            justify-content:space-evenly;
            width:100%;
            padding-top: 15px;
            .auth__option {
                text-align:center;
                border-bottom: 2px solid black;
                width:100%;
                padding-bottom: 10px;
                cursor:pointer;
            }
        }
        .auth__header {
            display:flex;
            flex-direction:column;
            align-items:center;
            gap:5px;
            text-align:center;
            padding: 0px 30px 0px 30px;
            .auth__logo {
                width: 150px;
                padding:10px;
            }
        }
        h2 {
            width:100%;
            text-align:center;
            border-bottom: 1px solid black;
            line-height: .1em;
            margin:10px 0 20px;
            font-size:16px;
            color: rgba(black, .7);
        }
        h2 span {
            background-color:white;
            padding: 0 10px;
        }
        .auth__form {
            display:flex;
            flex-direction:column;
            align-items:center;
            gap:10px;
            width:100%;
            padding: 0px 30px 0px 30px;
            .auth__pair {
                width:100%;
                input {
                    width:100%;
                    height:40px;
                    padding:10px;
                    border:1px solid black;
                }
            }
            .auth__submit {
                width:50%;
                padding:10px;
                border:none;
                background-color: rgba($main, .6);
                border-radius: 20px;
                transition: .2s;
                cursor:pointer;
            }
            .auth__submit:hover {
                background-color: $main;
            }
        }
        .auth__options {
            display:flex;
            justify-content:space-evenly;
            align-items:center;
            width:100%;
            padding-bottom: 30px;
            .auth__link {
                display:flex;
                align-items:center;
                gap:10px;
                padding:10px;
                border-radius:10px;
                transition: .2s;
                cursor:pointer;
                .auth__icon {
                    width:25px;
                    height:25px;
                }
            }
            .auth__link--facebook {
                background-color: rgba(24, 119, 242, .2);
            }
            .auth__link--facebook:hover {
                background-color: rgba(24, 119, 242, .5);
            }
            .auth__link--google {
                background-color: rgba(235, 67, 53, .2);
            }
            .auth__link--google:hover {
                background-color: rgba(235, 67, 53, .5);
            }
        }
    }
}