.section {
  background-color: white;
  padding: 10px 10px 10px 10px;
  margin: 20px 10px 20px 10px;
}
.section .section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}
.section .section__header .header__wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}
.section .section__header .header__wrapper .header__icon {
  display: block;
  width: 35px;
  height: 35px;
  mask-size: contain;
  background-color: black;
}
.section .section__header .header__wrapper .header__icon--discount {
  mask-image: url("/icons/categories/discount.svg");
}
.section .section__header .header__wrapper .header__icon--categories {
  mask-image: url("/icons/categories/categories.svg");
}
.section .section__header .header__wrapper .header__icon--view {
  mask-image: url("/icons/view.svg");
}
.section .section__header .header__wrapper .header__icon--electronics {
  mask-image: url("/icons/categories/electronics.svg");
}
.section .section__header .section__title {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}
.section .section__header .section__more {
  font-size: 15px;
  transition: 0.2s;
}
.section .section__header .section__more:hover {
  color: rgb(110, 204, 245);
}
.section .section__content {
  display: flex;
  gap: 15px;
  padding: 10px 0px 10px 0px;
  overflow: auto;
  align-self: center;
}
.section .section__buttons {
  display: flex;
  justify-content: space-evenly;
}
.section .section__buttons .section__button {
  padding: 10px;
  background-color: rgba(110, 204, 245, 0.6);
  border: none;
  border-radius: 20px;
  transition: 0.2s;
  font-size: 17px;
  cursor: pointer;
}
.section .section__buttons .section__button:hover {
  background-color: rgb(110, 204, 245);
}
.section .section__icon {
  display: block;
  width: 80px;
  height: 80px;
  mask-size: contain;
  background-color: black;
}
.section .section__category {
  font-weight: bold;
}
.section .section__icon--discount {
  mask-image: url("/icons/categories/discount.svg");
}
.section .section__icon--children {
  mask-image: url("/icons/categories/children.svg");
}
.section .section__icon--cars {
  mask-image: url("/icons/categories/cars.svg");
}
.section .section__icon--electronics {
  mask-image: url("/icons/categories/electronics.svg");
}
.section .section__icon--fashion {
  mask-image: url("/icons/categories/fashion.svg");
}
.section .section__icon--garden {
  mask-image: url("/icons/categories/garden.svg");
}
.section .section__icon--health {
  mask-image: url("/icons/categories/health.svg");
}
.section .section__icon--new {
  mask-image: url("/icons/categories/new.svg");
}
.section .section__icon--pets {
  mask-image: url("/icons/categories/pets.svg");
}
.section .section__icon--sport {
  mask-image: url("/icons/categories/sport.svg");
}
.section .section__link {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
}
.section .section__link:hover > .section__icon {
  background-color: rgb(110, 204, 245);
  transition: 0.2s;
}

.section--frame {
  border: 15px solid rgb(110, 204, 245);
}

.section__join .section__content {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section__join .section__content .section__title {
  font-size: 25px;
}

.home__image {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.section__more--content .section__title {
  font-size: 20px;
  text-align: center;
  border-bottom: 2px solid rgb(110, 204, 245);
  padding-bottom: 10px;
  padding-top: 10px;
}
.section__more--content .section__content {
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
  }
  .section {
    margin: 20px 50px 20px 50px;
    width: 100%;
    max-width: 1400px;
    align-self: center;
  }
  .image__link {
    width: 100%;
    max-width: 1400px;
  }
  .home__image {
    height: 250px;
  }
}
