@import "../../wwwroot/imports/colors";
.section {
    background-color: white;
    padding: 10px 10px 10px 10px;
    margin: 20px 10px 20px 10px;
    .section__header {
        display:flex;
        justify-content:space-between;
        align-items:center;
        border-bottom: 2px solid black;
        padding-bottom: 5px;
        .header__wrapper {
            display:flex;
            align-items:center;
            gap:5px;
            .header__icon {
                display:block;
                width:35px;
                height:35px;
                mask-size: contain;
                background-color:black;
            }
            .header__icon--discount {
                mask-image: url("/icons/categories/discount.svg");
            }
            .header__icon--categories {
                mask-image: url("/icons/categories/categories.svg");
            }
            .header__icon--view {
                mask-image: url("/icons/view.svg");
            }
            .header__icon--electronics {
                mask-image: url("/icons/categories/electronics.svg");
            }
        }
        .section__title {
            font-size:20px;
            font-weight:bold;
            font-style:italic;
        }
        .section__more {
            font-size: 15px;
            transition: .2s;
        }
        .section__more:hover {
            color: $main;
        }
    }
    .section__content {
        display:flex;
        gap: 15px;
        padding:10px 0px 10px 0px;
        overflow:auto;
        align-self:center;
    }
    .section__buttons {
        display:flex;
        justify-content:space-evenly;
        .section__button {
            padding:10px;
            background-color: rgba($main, .6);
            border:none;
            border-radius:20px;
            transition: .2s;
            font-size:17px;
            cursor:pointer;
        }
        .section__button:hover {
            background-color: $main;
        }
    }
    .section__icon {
        display:block;
        width:80px;
        height:80px;
        mask-size: contain;
        background-color:black;
    }
    .section__category {
        font-weight: bold;
    }
    .section__icon--discount {
        mask-image: url("/icons/categories/discount.svg");
    }
    .section__icon--children {
        mask-image: url("/icons/categories/children.svg");
    }
    .section__icon--cars {
         mask-image: url("/icons/categories/cars.svg");
    }
    .section__icon--electronics {
        mask-image: url("/icons/categories/electronics.svg");
    }
    .section__icon--fashion {
        mask-image: url("/icons/categories/fashion.svg");
    }
    .section__icon--garden {
        mask-image: url("/icons/categories/garden.svg");
    }
    .section__icon--health {
        mask-image: url("/icons/categories/health.svg");
    }
    .section__icon--new {
        mask-image: url("/icons/categories/new.svg");
    }
    .section__icon--pets {
        mask-image: url("/icons/categories/pets.svg");
    }
    .section__icon--sport {
        mask-image: url("/icons/categories/sport.svg");
    }
    .section__link {
        display:flex;
        align-items:center;
        flex-direction:column;
        gap:5px;
        padding:5px;
    }
    .section__link:hover > .section__icon {
        background-color: $main;
        transition: .2s;
    }
}
.section--frame {
    border: 15px solid $main;
}
.section__join {
    .section__content {
        flex-direction:column;
        align-items:center;
        text-align:center;
        .section__title {
            font-size:25px;
        }
    }
}
.home__image {
    height:150px;
    width:100%;
    object-fit:cover;
}
.section__more--content {
    .section__title {
        font-size: 20px;
        text-align:center;
        border-bottom: 2px solid $main;
        padding-bottom:10px;
        padding-top: 10px;
    }
    .section__content {
        flex-wrap:wrap;
    }
}