@import "../../wwwroot/imports/colors";
.section {
    background-color: white;
    padding: 10px 10px 10px 10px;
    margin: 20px 5px 20px 5px;
    .section__header {
        display:flex;
        justify-content:space-between;
        align-items:center;
        border-bottom: 2px solid black;
        padding-bottom: 5px;
        .section__title {
            font-size:20px;
            font-weight:bold;
            font-style:italic;
        }
        .section__more {
            font-size: 15px;
            transition: .2s;
        }
        .section__more:hover {
            color: $main;
        }
    }
    .section__content {
        display:flex;
        gap: 15px;
        padding:10px 0px 10px 0px;
        overflow:auto;
        align-self:center;
    }
    .section__icon {
        display:block;
        width:80px;
        height:80px;
        mask-size: contain;
        background-color:black;
    }
    .section__category {
        font-weight: bold;
    }
    .section__icon--discount {
        mask-image: url("/icons/categories/discount.svg");
    }
    .section__icon--children {
        mask-image: url("/icons/categories/children.svg");
    }
    .section__icon--cars {
         mask-image: url("/icons/categories/cars.svg");
    }
    .section__icon--electronics {
        mask-image: url("/icons/categories/electronics.svg");
    }
    .section__icon--fashion {
        mask-image: url("/icons/categories/fashion.svg");
    }
    .section__icon--garden {
        mask-image: url("/icons/categories/garden.svg");
    }
    .section__icon--health {
        mask-image: url("/icons/categories/health.svg");
    }
    .section__icon--new {
        mask-image: url("/icons/categories/new.svg");
    }
    .section__icon--pets {
        mask-image: url("/icons/categories/pets.svg");
    }
    .section__icon--sport {
        mask-image: url("/icons/categories/sport.svg");
    }
    .section__link {
        display:flex;
        align-items:center;
        flex-direction:column;
        gap:5px;
        padding:5px;
    }
    .section__link:hover > .section__icon {
        background-color: $main;
        transition: .2s;
    }
}
.section--frame {
    border: 15px solid $main;
}