@font-face {
    font-family:"now";
    src: url("/fonts/now.light.otf");
}
* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:now;
}
body {
    background-color: rgb(242, 238, 238);
}
a {
    text-decoration:initial;
}
a:visited {
    color:initial;
}


@media only screen and (min-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}