@import "../../BuyIt/wwwroot/imports/_colors";
.promo {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    width:100%;
    .promo__slider {
        display: flex;
        width: 100%;
        height: 250px;
        overflow: hidden;

        .promo__image {
            width: 100%;
            height: 250px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            transition: .2s ease-in-out;
        }
    }

    .promo__select {
        display: flex;
        gap: 10px;

        .promo__circle {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 1px solid $main;
            transition: .2s;
            cursor: pointer;
        }

            .promo__circle.active {
                background-color: $main;
            }

                .promo__circle.active:hover {
                    background-color: $main;
                }

            .promo__circle:hover {
                background-color: rgba($main, .5);
            }
    }
}
@media only screen and (min-width: 768px) {
    .promo {
        .promo__slider {
            height:400px;
            .promo__image {
                height:400px;
            }
        }
    }
}