<div class="product">
    <a href="#">
        <img class="product__image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyhBgzm85x5AiRUvhyqwjKMw86fZOqLzOTqg&s" alt="Zelazko zeliwne" />
    </a>
    <div class="product__details">
        <span class="product__name">Żelazko żf sdfsd fsd fsdsfds gfd gdf gdfgfdeliwne</span>
        <div class="product__prices">
            <span class="product__price">18.99zł</span>
            <span class="old__price"><s>20.99zł</s></span>
        </div>
        <div class="product__action">
            <i class="product__icon product__icon--wishlist"></i>
            <i class="product__icon product__icon--add"></i>
        </div>
    </div>
</div>