.product {
  display: flex;
  flex-direction: column;
  width: fit-content;
  transition: 0.2s;
  width: 150px;
}
.product .product__image {
  width: 150px;
}
.product .product__details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
}
.product .product__details .product__name {
  font-size: 13px;
}
.product .product__details .product__prices {
  display: flex;
  flex-direction: column;
}
.product .product__details .product__prices .product__price {
  font-weight: bolder;
}
.product .product__details .product__prices .old__price {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
.product .product__action {
  display: flex;
  gap: 2px;
  justify-content: flex-end;
}
.product .product__action .product__icon {
  display: block;
  width: 23px;
  height: 23px;
  mask-size: contain;
  background-color: black;
  transition: 0.2s;
  cursor: pointer;
}
.product .product__action .product__icon--wishlist {
  mask-image: url("/icons/wishlist.svg");
}
.product .product__action .product__icon--add {
  mask-image: url("/icons/add.svg");
}
.product .product__action .product__icon:hover {
  background-color: rgb(110, 204, 245);
}

.product:hover {
  background-color: rgba(242, 238, 238, 0.7);
}
