<div class="product">
    <a href="#">
        <img class="product__image" src="@Assets[Image]" alt="Zelazko zeliwne" />
    </a>
    <div class="product__details">
        <span class="product__name">@Name</span>
        <div class="product__prices">
            <span class="product__price">@Price zł</span>
            @if (PromotionalPrice != 0)
            {
                <span class="old__price"><s>@PromotionalPrice zł</s></span>
            }
        </div>
        <div class="product__action">
            <i class="product__icon product__icon--wishlist"></i>
            <i class="product__icon product__icon--add"></i>
        </div>
    </div>
</div>