@import "../../BuyIt/wwwroot/imports/_colors";
.product {
    display:flex;
    flex-direction:column;
    width:fit-content;
    transition: .2s;
    width:150px;
    .product__image {
        width:150px;
    }
    .product__details {
        display:flex;
        flex-direction:column;
        gap:5px;
        padding:5px;
        .product__name {
            font-size:13px;
        }
        .product__prices {
            display:flex;
            flex-direction:column;
            .product__price {
                font-weight:bolder;
            }
            .old__price {
                font-size: 12px;
                color: rgba(black, .5);
            }
        }
    }
    .product__action {
        display:flex;
        gap:2px;
        justify-content: flex-end;
        .product__icon {
            display:block;
            width:23px;
            height:23px;
            mask-size: contain;
            background-color: black;
            transition: .2s;
            cursor:pointer;
        }
        .product__icon--wishlist {
             mask-image: url("/icons/wishlist.svg");
        }
        .product__icon--add {
             mask-image: url("/icons/add.svg");
        }
        .product__icon:hover {
            background-color: $main;
        }
    }
}
.product:hover {
    background-color: rgba($background, .7);
}